<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>JangBaguNi</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--    <link rel="manifest" href="site.webmanifest"> 이거 때문에 자꾸 F12눌렀을 에러보여서 거슬림 그래서 주석처리함-->
    <link rel="shortcut icon" type="image/x-icon" href="/community/css/assets/img/favicon.ico">
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>


    <style>


    </style>

    <!-- CSS here -->
    <link rel="stylesheet" href="/community/css/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/community/css/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/community/css/assets/css/slicknav.css">
    <link rel="stylesheet" href="/community/css/assets/css/flaticon.css">
    <link rel="stylesheet" href="/community/css/assets/css/progressbar_barfiller.css">
    <link rel="stylesheet" href="/community/css/assets/css/gijgo.css">
    <link rel="stylesheet" href="/community/css/assets/css/animate.min.css">
    <link rel="stylesheet" href="/community/css/assets/css/animated-headline.css">
    <link rel="stylesheet" href="/community/css/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/community/css/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/community/css/assets/css/themify-icons.css">
    <link rel="stylesheet" href="/community/css/assets/css/slick.css">
    <link rel="stylesheet" href="/community/css/assets/css/nice-select.css">
    <link rel="stylesheet" href="/community/css/assets/css/style.css">

    <script type="text/javascript">


        //상세보기 이동
        function doDetail(communitySeq) {
            location.href = "/community/communityInfo?communitySeq=" + communitySeq;
        }

        //html 파일이 실행될때 자동 실행
        $(document).ready(function () {
            // 검색 버튼 클릭 이벤트 처리
            $("#btnSearch").on("click", function () {
                searchKeyWord(); // 검색어로 목록 조회 실행
            });

            // 공지글을 특별한 클래스로 표시
            $(".notice-row").addClass("notice");

            // 공지글이 있는 경우 맨 위로 이동
            let noticeRow = $(".notice");
            if (noticeRow.length > 0) {
                noticeRow.prependTo("#listTable tbody");
            }
            // 글 등록 버튼 클릭 이벤트 처리
            $("#btnWrite").on("click", function () {
                // AJAX를 통해 로그인 상태 확인
                $.ajax({
                    url: "/community/checkLoginStatus", // checkLoginStatus에서 받아온 result 결과로 처리
                    type: "GET",
                    success: function(response) {
                        if (response.loggedIn) { // 받은 result 결과값이 true인 경우 Reg페이지 이동
                            // 로그인 된 경우 글 등록 페이지로 이동
                            window.location.href = "/community/communityReg";
                        } else { //false인 경우 로그인페이지로 이동
                            // 로그인되지 않은 경우 알림 띄우기
                            alert("로그인이 필요합니다.");
                            window.location.href = "/login/login-form";
                        }
                    },
                    error: function() { //에러 처리
                        // 에러 처리
                        alert("서버 오류가 발생했습니다.");
                    }
                });
            });
        });



        // 테이블 갱신 함수
        function searchKeyWord() {
            let f = document.getElementById("search-form");

            console.log(f.keyWord.value);

            $.ajax({
                url: "/community/communitySearch",
                type: "get",
                dataType: "json",
                data: $("#search-form").serialize(),
                success: function (json) {
                    if (json !== null && json.length > 0) {
                        updateTable(json);
                    } else {
                        alert("검색된 결과가 없습니다.");
                    }
                }
            });

            function updateTable(data) {
                let table = $("#listTable");

                // Clear Table
                table.empty();

                // Add Table Header
                let tableHeader = $("<tr>");
                tableHeader.append($("<th>").text("번호"));
                tableHeader.append($("<th>").text("제목"));
                tableHeader.append($("<th>").text("글쓴이"));
                tableHeader.append($("<th>").text("일시"));
                tableHeader.append($("<th>").text("조회수"));
                table.append(tableHeader);

                // Add Data Rows
                $.each(data, function (index, item) {
                    let row = $("<tr>").on("click", function () {
                        doDetail(item.communitySeq);
                    });
                    // 번호 표시 부분 수정
                    row.append($("<td>").text(item.communityYn === 'Y' ? '공지' : item.communitySeq)); //공지글여부고 'Y'라면 공지그대로 표시
                    row.append($("<td>").text(item.title));
                    row.append($("<td>").text(item.userId));
                    row.append($("<td>").text(item.regDt));
                    row.append($("<td>").text(item.readCnt));
                    table.append(row);
                });
            }

        }

    </script>

</head>

<body>
<!-- ? Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="/community/css/assets/img/logo/loder.png" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Preloader Start -->
<!-- Header Start -->
<div class="header-area header-transparent">
    <div class="main-header ">
        <div class="header-bottom  header-sticky">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <!-- Logo -->
                    <div class="col-xl-2 col-lg-2">
                        <!--로고 눌렀을 때 반응-->
                        <div class="logo">
                            <a href="main"><img src="/community/css/assets/img/logo/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-xl-10 col-lg-10">
                        <div class="menu-wrapper d-flex align-items-center justify-content-end">
                            <!-- Main-menu -->
                            <div class="main-menu d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li class="active"><a href="index">Home</a></li>
                                        <li><a href="courses">Courses</a></li>
                                        <li><a href="communityList">Community</a></li>
                                        <li><a href="#">Blog</a>
                                            <ul class="submenu">
                                                <li><a href="blog">Blog</a></li>
                                                <li><a href="blog_details">Blog Details</a></li>
                                                <li><a href="elements">Element</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="contact">Contact</a></li>
                                        <!-- Button -->
                                        <li class="button-header margin-left "><a href="#" class="btn">Join</a></li>
                                        <li class="button-header"><a href="login" class="btn btn3">Log in</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->
<main>
    <!--? slider Area Start-->
    <section class="slider-area slider-area2">
        <div class="slider-active">
            <!-- Single Slider -->
            <div class="single-slider slider-height2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8 col-lg-11 col-md-12">
                            <div class="hero__caption hero__caption2">
                                <h1 data-animation="bounceIn" data-delay="0.2s">Community</h1>
                                <!-- breadcrumb Start-->
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index">Home</a></li>
                                        <li class="breadcrumb-item"><a href="#">community</a></li>
                                    </ol>
                                </nav>
                                <!-- breadcrumb End -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <article style="padding-bottom: 300px; padding-top: 150px">
        <div class="container">
            <h2>게시판</h2>

            <div class="aside">
                ▷ 총 <span th:text="${#lists.size(rList)}"></span>개의 게시물이 있습니다.
            </div>


            <div class="select-grup">
                <form id="search-form" >
                    <span class="select-text">SELECT</span>
                    <span>
            <select id="search-option" class="select-dropbox">
                <option value="s-title">제목</option>
                <option value="s-writer">글쓴이</option>
                <option value="s-date">일시</option>
            </select>
                    </span>
                    <span>
                    <input type="text" id="search" name="keyWord" class="select-textbox">
                    <input type="button" id="btnSearch" class="button-black" value="검색"/>
                    </span>
                </form>
            </div>

            <table class="board-table" id="listTable">
                <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>글쓴이</th>
                    <th>일시</th>
                    <th>조회수</th>
                </tr>
                </thead>
                <tbody id="tableBody">
                <!-- 기존 행들을 반복 출력하는 부분은 그대로 유지 -->
                <tr th:each="dto : ${rList}" th:class="${dto.communityYn == 'Y'} ? 'notice-row' : ''">
                    <!-- 행 내용 -->
                    <td th:if="${dto.communityYn == 'Y'}">
                        <span th:attr="onclick='doDetail(\'' + ${dto.communitySeq} + '\')'">공지</span>
                    </td>
                    <td th:unless="${dto.communityYn == 'Y'}">
                        <!-- 제목 클릭 시 상세정보 페이지로 이동 -->
                        <span th:attr="onclick='doDetail(\'' + ${dto.communitySeq} + '\')'" style="cursor: pointer;">[[${dto.communitySeq}]]</span>
                    </td>
                    <!--그냥 다 눌렀을 때 들어가게 만듦-->
                    <td><span th:attr="onclick='doDetail(\'' + ${dto.communitySeq} + '\')'" style="cursor: pointer;">[[${dto.title}]]</span></td>
                    <td><span th:attr="onclick='doDetail(\'' + ${dto.communitySeq} + '\')'" style="cursor: pointer;">[[${dto.userId}]]</span></td>
                    <td><span th:attr="onclick='doDetail(\'' + ${dto.communitySeq} + '\')'" style="cursor: pointer;">[[${dto.regDt}]]</span></td>
                    <td><span th:attr="onclick='doDetail(\'' + ${dto.communitySeq} + '\')'" style="cursor: pointer;">[[${dto.readCnt}]]</span></td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- 페이징 처리를 위한 div 추가 -->
        <div class="pagination" style="margin-top: 20px; display: flex; justify-content: center;" th:if="${totalPages > 1}">
            <ul style="list-style: none; padding: 0;">
                <li th:if="${currentPage > 1}">
                    <a th:href="@{'/community/communityList?page=' + ${currentPage - 1}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li th:each="pageNumber : ${#numbers.sequence(1, totalPages)}" th:class="${pageNumber == currentPage ? 'active' : ''}" style="margin-right: 5px;">
                    <a th:href="@{'/community/communityList?page=' + ${pageNumber}}" th:text="${pageNumber}"></a>
                </li>
                <li th:if="${currentPage < totalPages}">
                    <a th:href="@{'/community/communityList?page=' + ${currentPage + 1}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="bt_wrap">
            <button id="btnWrite" class="on">등록</button>
        </div>
    </article>
</main>


<footer>
    <div class="footer-wrappper footer-bg">
        <!-- Footer Start-->
        <div class="footer-area footer-padding">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-xl-4 col-lg-5 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">
                                <!-- logo -->
                                <div class="footer-logo mb-25">
                                    <a href="index"><img src="/community/css/assets/img/logo/logo2_footer.png"
                                                         alt=""></a>
                                </div>
                                <div class="footer-tittle">
                                    <div class="footer-pera">
                                        <p>The automated process starts as soon as your clothes go into the machine.</p>
                                    </div>
                                </div>
                                <!-- social -->
                                <div class="footer-social">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="https://bit.ly/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Our solutions</h4>
                                <ul>
                                    <li><a href="#">Design & creatives</a></li>
                                    <li><a href="#">Telecommunication</a></li>
                                    <li><a href="#">Restaurant</a></li>
                                    <li><a href="#">Programing</a></li>
                                    <li><a href="#">Architecture</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Support</h4>
                                <ul>
                                    <li><a href="#">Design & creatives</a></li>
                                    <li><a href="#">Telecommunication</a></li>
                                    <li><a href="#">Restaurant</a></li>
                                    <li><a href="#">Programing</a></li>
                                    <li><a href="#">Architecture</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Company</h4>
                                <ul>
                                    <li><a href="#">Design & creatives</a></li>
                                    <li><a href="#">Telecommunication</a></li>
                                    <li><a href="#">Restaurant</a></li>
                                    <li><a href="#">Programing</a></li>
                                    <li><a href="#">Architecture</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer-bottom area -->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="footer-border">
                    <div class="row d-flex align-items-center">
                        <div class="col-xl-12 ">
                            <div class="footer-copy-right text-center">
                                <p>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                                    All rights reserved | This template is made with <i class="fa fa-heart"
                                                                                        aria-hidden="true"></i> by <a
                                        href="https://colorlib.com" target="_blank">Colorlib</a>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </div>
</footer>
<!-- Scroll Up -->
<div id="back-top">
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<!-- JS here -->
<script src="/community/css/assets/js/vendor/modernizr-3.5.0.min.js"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="/community/css/assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="/community/css/assets/js/popper.min.js"></script>
<script src="/community/css/assets/js/bootstrap.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="/community/css/assets/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="/community/css/assets/js/owl.carousel.min.js"></script>
<script src="/community/css/assets/js/slick.min.js"></script>
<!-- One Page, Animated-HeadLin -->
<script src="/community/css/assets/js/wow.min.js"></script>
<script src="/community/css/assets/js/animated.headline.js"></script>
<script src="/community/css/assets/js/jquery.magnific-popup.js"></script>

<!-- Date Picker -->
<script src="/community/css/assets/js/gijgo.min.js"></script>
<!-- Nice-select, sticky -->
<script src="/community/css/assets/js/jquery.nice-select.min.js"></script>
<script src="/community/css/assets/js/jquery.sticky.js"></script>
<!-- Progress -->
<script src="/community/css/assets/js/jquery.barfiller.js"></script>

<!-- counter , waypoint,Hover Direction -->
<script src="/community/css/assets/js/jquery.counterup.min.js"></script>
<script src="/community/css/assets/js/waypoints.min.js"></script>
<script src="/community/css/assets/js/jquery.countdown.min.js"></script>
<script src="/community/css/assets/js/hover-direction-snake.min.js"></script>

<!-- contact js -->
<script src="/community/css/assets/js/contact.js"></script>
<script src="/community/css/assets/js/jquery.form.js"></script>
<script src="/community/css/assets/js/jquery.validate.min.js"></script>
<script src="/community/css/assets/js/mail-script.js"></script>
<script src="/community/css/assets/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="/community/css/assets/js/plugins.js"></script>
<script src="/community/css/assets/js/main.js"></script>

</body>
</html>