



<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>커뮤니티 글 보기</title>
    <link rel="stylesheet" href="/css/table.css"/>

    <style>

    </style>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">

    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <link href="/community/css/bootstrap-icons.css" rel="stylesheet">

    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script th:inline="javascript">
        // Controller에서 받은 세션에 저장된 값
        const session_user_id = [[${SS_USER_ID}]];
        // alert("session_user_id : " + session_user_id); user_id로 들어오는지 확인

        // 공지사항 게시글 작성자 아이디
        const user_id = [[${rDTO.userId}]];

        // 현재 글번호, 자바에서 받을 변수들은 자바스크립트 변수로 저장하면 편함
        const cSeq = [[${rDTO.communitySeq}]];

        // HTML로딩이 완료되고, 실행됨

        $(document).ready(function () {
            // 버튼 클릭했을때, 발생되는 이벤트 생성함(onclick 이벤트와 동일함)
            $("#btnEdit").on("click", function () {
                doEdit(); // 공지사항 수정하기 실행
            })

            // 버튼 클릭했을때, 발생되는 이벤트 생성함(onclick 이벤트와 동일함)
            $("#btnDelete").on("click", function () {
                doDelete(); // 공지사항 수정하기 실행
            })

            // 버튼 클릭했을때, 발생되는 이벤트 생성함(onclick 이벤트와 동일함)
            $("#btnList").on("click", function () {
                location.href = "/community/communityList"; // 공지사항 리스트 이동
            })
            $("#btnCommentSend").on("click", function () {
                doSendComment(); //댓글 등록 실행
            })
        })



        //수정하기
        function doEdit() {
            if (session_user_id === user_id) {
                location.href = "/community/communityEditInfo?cSeq=" + cSeq;

            } else if (session_user_id === "") {
                alert("로그인 하시길 바랍니다.");

            } else {
                alert("본인이 작성한 글만 수정 가능합니다.");

            }
        }

        //삭제하기
        function doDelete() {
            if (session_user_id === user_id) {
                if (confirm("작성한 글을 삭제하시겠습니까?")) {

                    // Ajax 호출해서 글 삭제하기
                    $.ajax({
                            url: "/community/communityDelete",
                            type: "post", // 전송방식은 Post
                            dataType: "JSON", // 전송 결과는 JSON으로 받기
                            data: {"cSeq": cSeq}, // form 태그 내 input 등 객체를 자동으로 전송할 형태로 변경하기
                            success:
                                function (json) { // /notice/noticeDelete 호출이 성공했다면..
                                    alert(json.msg); // 메시지 띄우기
                                    location.href = "/community/communityList"; // 공지사항 리스트 이동
                                }
                        }
                    )
                }
            }

            // }
            else if (session_user_id === "") {
                alert("로그인 하시길 바랍니다.");

            } else {
                alert("본인이 작성한 글만 수정 가능합니다.");

            }
        }

        // 댓글 등록 함수
        // function doSendComment() {
        //     if (session_user_id === user_id) {
        //         if (confirm("댓글을 등록하시겠습니까?")) {
        //
        //             // Ajax 호출해서 글 등록하기
        //             $.ajax({
        //                     url: "/community/communityInsert",
        //                     type: "post", // 전송방식은 Post
        //                     dataType: "JSON", // 전송 결과는 JSON으로 받기
        //                     data: {"cSeq": cSeq}, // form 태그 내 input 등 객체를 자동으로 전송할 형태로 변경하기
        //                     success:
        //                         function (json) { // /notice/noticeDelete 호출이 성공했다면..
        //                             alert(json.msg); // 메시지 띄우기
        //                             location.href = "/community/communityInfo"; // 공지사항 리스트 이동
        //                         }
        //                 }
        //             )
        //         }
        //     }
        // }
    </script>
</head>
<body>

<main>

</main>
<form name="f" id="f">
<div class="container1">
    <h1>게시판 상세정보</h1>
    <div class="board-title">[[${rDTO.title}]]</div>
    <div class="board-info">
        <span class="board-author">[[${rDTO.userId}]]</span>
        <span class="board-date">[[${rDTO.regDt}]]</span>
    </div>
    <div class="board-content">
        [[${rDTO.contents}]]
    </div>
    <div class="board-tag">TAG: 게시물 태그</div>
    <div class="buttons">
        <button class="button" type="button" id="btnEdit">수정</button>
        <button class="button" type="button" id="btnDelete">삭제</button>
        <button class="button" type="button" id="btnList">목록</button>
    </div>
</div>

    <div style="padding: 50px">

    </div>

<div class="container2">
    <!-- 이전 디자인 부분은 그대로 유지 -->

    <div class="comments">
        <h2>댓글</h2>

        <div class="comment">
            <div class="comment-author">댓글 작성자</div>
            <div class="comment-date">댓글 작성일: 2023-10-30</div>
            <div class="comment-content">댓글 내용이 여기에 표시됩니다.</div>
        </div>

        <!-- 다른 댓글들도 위와 같이 추가 -->

        <div class="comment-input">
            <textarea rows="3" placeholder="댓글을 입력하세요"></textarea>
        </div>

        <div class="comment-button">
            <button class="button-comment" id="btnCommentSend">댓글 작성</button>
        </div>
    </div>
</div>
</form>
</body>
</html>
