

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>장바구니 커뮤니티</title>
    <script th:inline="javascript">

        function doDetail(cSeq) {
            location.href = "/community/communityInfo?cSeq=" + cSeq;
        }

    </script>



    <style>

    </style>


</head>

<body id="top">

<main>

    <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
        <div class="container" >
            <div class="row">
                <table class="fixed_headers">
                    <h1>회원 커뮤니티 게시판</h1>
                    <div style="text-align: right"><a href="/community/communityReg">글쓰기</a></div>
                    <thead>
                    <tr>
                        <th style="width: 100px;">순번</th>
                        <th style="width: 500px;">제목</th>
                        <th style="width: 150px;">조회수</th>
                        <th style="width: 300px;">등록자</th>
                        <th style="width: 250px;">등록일</th>
                    </tr>
                    </thead>
                    <tbody th:each="dto:${rList}">
                    <tr style="width: 100%" >
                        <td th:if="${dto.communityYn=='Y'} ">공지</td>
                        <td th:unless="${dto.communityYn=='Y'} ">[[${dto.communitySeq}]]</td>
                        <td th:attr="onclick='doDetail(\'' + ${dto.communitySeq} + '\')'">[[${dto.title}]]</td>
                        <td>[[${dto.readCnt}]]</td>
                        <td>[[${dto.userId}]]</td>
                        <td>[[${dto.regDt}]]</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</main>

<footer class="site-footer section-padding">
    <hr/>
    <br/>
    <div class="container">
        <div class="row">


        </div>
    </div>
</footer>

</body>

</html>