<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function (){
      let f = document.getElementById("f");

      $("#btnUpload").on("click", function (){
          imageSubmit(f);
      })
    })

    function imageSubmit(f){
      let fileInput = f.image;
      if(fileInput.files.length === 0){
        alert("이미지를 선택하세요.");
        fileInput.click();
        return;
      }

      let formData = new FormData($("#f")[0]);
      $.ajax({
        url:"/uploadAndOcr",
        type:"post",
        // dataType:"JSON",
        data: formData,
        processData:false,
        contentType:false,
        success: function (json){
          if(json.result === 1){
            alert(json.msg);
            location.href = "ocr-result";
          }else{
            alert(json.msg);
          }
        }

      })
    }
  </script>
  <!-- head 부분은 여기에 추가 -->

<!--  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->
<!--  <script>-->
<!--    $(document).ready(function () {-->
<!--      $("#uploadForm").submit(function (event) {-->
<!--        event.preventDefault(); // 기본 폼 제출 동작을 막음-->
<!--        var formData = new FormData(this);-->
<!--        formData.append("save", $("#saveCheckbox").is(":checked") ? "Y" : "N");-->
<!--        $.ajax({-->
<!--          type: "POST",-->
<!--          url: "/uploadAndOcr",-->
<!--          data: formData,-->
<!--          processData: false,-->
<!--          contentType: false,-->
<!--          success: function (data) {-->
<!--            // 서버에서 반환한 결과를 처리-->
<!--            $("#body").html(data);-->
<!--          },-->
<!--          error: function () {-->
<!--            // 에러 처리-->
<!--            alert("알 수 없는 에러");-->
<!--          }-->
<!--        });-->
<!--      });-->
<!--    });-->
<!--  </script>-->


<!--</head>-->
<!--<body id="body">-->
<!--<h1>Image Upload and OCR</h1>-->
<!--<form id="uploadForm" enctype="multipart/form-data">-->
<!--  <input type="file" name="uploadOcrFile" accept=".jpg, .jpeg, .png">-->
<!--  <input type="checkbox" id="saveCheckbox">-->
<!--  <label for="saveCheckbox">이미지 저장하기</label>-->
<!--  <button type="submit">Upload and OCR</button>-->
<!--</form>-->


<!--</body>-->
<!--</html>-->

</head>
<body>
<h1>Image Upload and OCR</h1>
<form id="f" method="post" enctype="multipart/form-data">
  <input type="file" id="image" name="image" accept=".jpg, .jpeg, .png">
  <input type="radio" name="save" id="save" value="Y">
  <label for="save">이미지 저장하기</label>
  <button id="btnUpload" type="button">Upload and OCR</button>
</form>
</body>
</html>
<!--action="/uploadAndOcr"-->