<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/user/style.css">
    <script src="/js/jquery-3.6.0.min.js"></script>
    <title>Modern Login Page | AsmrProg</title>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnLogin").on("click", function () {
                let signInForm = document.getElementById("sign-in-form"); // form 태그
                // alert(signInForm);

                if (signInForm.userId.value === "") {
                    alert("아이디를 입력하세요.");
                    signInForm.userId.focus();
                    return;
                }

                if (signInForm.password.value === "") {
                    alert("비밀번호를 입력하세요.");
                    signInForm.password.focus();
                    return;
                }

                // Ajax 호출해서 로그인하기
                $.ajax({
                        url: "/login/loginProc",
                        type: "post", // 전송방식은 Post
                        dataType: "JSON", // 전송 결과는 JSON으로 받기
                        data: $("#sign-in-form").serialize(), // form 태그 내 input 등 객체를 자동으로 전송할 형태로 변경하기
                        success: function (json) {

                            if (json.result === 1) { // 로그인 성공
                                alert(json.msg); // 메시지 띄우기
                                /**준수가 경로 바꿨음 ( /order 추가함 )**/
                                location.href = "/order/upload-form"; // 로그인 성공 후 메인 페이지로 이동

                            } else { // 로그인 실패
                                alert(json.msg); // 메시지 띄우기
                                signInForm.userId.focus(); // 아이디 입력 항목에 마우스 커서 이동
                            }
                        }
                    }
                )
            })
        })
    </script>
</head>

<body>

<div class="container" id="container">

    <!--        비밀번호 찾기-->
    <div class="form-container sign-up">
        <form role="form" name="searchPassword" action="/search/newPasswordProc" method="post" id="sign-up-form">
            <h1>Create Account</h1>
            <!--                <div class="social-icons">-->
            <!--                    <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>-->
            <!--                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>-->
            <!--                    <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>-->
            <!--                    <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>-->
            <!--                </div>-->
            <!--      <span>or use your email for registeration</span>-->
            <input type="text" placeholder="유저아이디" name="userId" required>
            <input type="text" placeholder="유저 이름" name="userName" required>
<!--            <input type="password" placeholder="Password" name="password" required>-->
            <input type="email" placeholder="유저 이메일" name="email" required>
<!--            <input type="text" placeholder="nickname" name="nickname" required>-->

<!--            <label for="biz">개인사업자</label>-->
<!--            <input type="radio" id="biz" name="userType" value="biz"-->
<!--                   placeholder="Name"-->
<!--                   style="display: inline-block; margin-right: 10px;"-->
<!--                   required>-->

<!--            <label for="new-biz">사업희망자</label>-->
<!--            <input type="radio" id="new-biz" name="userType" value="newBiz"-->
<!--                   placeholder="Name"-->
<!--                   style="display: inline-block; margin-right: 10px;"-->
<!--                   required>-->


<!--            <input type="text" placeholder="address1" name="addr1">-->
<!--            <input type="text" placeholder="address2" name="addr2">-->
<!--            <select name="job" id="job">-->
<!--                <option value="일식">일식</option>-->
<!--                <option value="양식">양식</option>-->
<!--                <option value="한식">한식</option>-->
<!--            </select>-->


            <button type="submit" id="search-password-btn">Sign Up</button>
        </form>
    </div>


    <!--        아이디 찾기-->
    <div class="form-container sign-in">
        <!--        action="/login/loginProc" method="post"-->
        <form action="/search/userIdProcedure"
              method="post"
              id="search-id-form">
            <h1>아이디찾기</h1>
            <!--      <div class="social-icons">-->
            <!--        <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>-->
            <!--        <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>-->
            <!--        <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>-->
            <!--        <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>-->
            <!--      </div>-->
            <!--      <span>or use your email password</span>-->
            <input type="text" placeholder="유저 이름" id="search-id-user-name" name="userName" required>
            <input type="email" placeholder="이메일" name="email" required>
            <a id="search-id-result-a" href="/login/login-form" style="display: none;">
                <p id="search-id-result-p"></p>
            </a>
            <!--      <a href="#">Forget Your Password?</a>-->
            <button id="search-id-btn" type="button">아이디 찾기</button>
        </form>
    </div>


    <div class="toggle-container">
        <div class="toggle">
            <div class="toggle-panel toggle-left">
                <h1>Welcome Back!</h1>
                <p>Enter your personal details to use all of site features</p>
                <button class="hidden" id="login">아이디 찾기</button>
            </div>
            <div class="toggle-panel toggle-right">
                <h1>Hello, Friend!</h1>
                <p>Register with your personal details to use all of site features</p>
                <button class="hidden" id="register">비밀번호 찾기</button>
            </div>
        </div>
    </div>
</div>

<script src="/user/script.js"></script>

<script type="text/javascript">
    $(document).ready(() => {
        // $("#search-id-form").on("submit", (event) => {
        //
        // })

        $("#search-id-btn").on('click', () => {
            console.log("#search-id-btn onclick function");
            let searchIdForm = document.getElementById("search-id-form");

            // let searchIdForm_jquery = $("#search-id-form");

            console.log("$(\"#search-id-form\").serialize()")
            console.log($("#search-id-form").serialize());
            function searchId(searchIdForm) {
                if (searchIdForm.userName.value === "") {
                    alert("이름 입력하세요");
                    searchIdForm.userName.focus();
                    return
                }
                if (searchIdForm.email.value === "") {
                    alert("이메일 입력하세요");
                    searchIdForm.email.focus();
                    return
                }
                let searchIdResultP = document.getElementById("search-id-result-p");
                let searchIdResultA = document.getElementById("search-id-result-a");

                $.ajax({
                    url: '/search/userIdProcedure',
                    type: 'post',
                    dataType: 'JSON',
                    data: $("#search-id-form").serialize(),
                    success: function (json) {
                        console.log(json);
                        alert("json.result : " + json.result);
                        if (json.resultInteger === '1') {
                            // 성공했을때
                            alert("json.result === '1'")
                            searchIdResultP.textContent = "당신의 아이디는 : [" + json.userId + "] 입니다";
                            searchIdResultA.style.display = ""
                        } else {
                            alert("json.result !== '1'")
                            searchIdResultP.textContent = json.msg;
                            searchIdResultA.style.display = ""
                        }
                    }
                })
            }

            searchId(searchIdForm)
        })


    })

</script>
</body>

</html>