<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/user/profile/style.css">
  <script src="/js/jquery-3.6.0.min.js"></script>
  <title>회원 정보 확인</title>
  <script th:inline="javascript">function submitUpdateForm(event) {
      console.log("event" + event);
      console.log("event.target" + event.target);
      let updateForm = document.getElementById("biz-update-form");
      updateForm.preventDefault();
  }

  console.log("rDTO : " + [[${rDTO}]]);
  </script>
</head>
<body>
<div class="container">
  <h1>회원 정보</h1>
  <form id="biz-update-form" name="bizUpdateForm"
        action="/profile/update-procedure" method="post">
    <div class="member-info">
      <div class="info-row">
        <span class="label">아이디:</span>
        <span class="value" th:text="${rDTO.userId}"></span>
      </div>

      <div class="info-row">
        <label for="userName" class="label">Username:</label>
        <input name="userName" id="userName" class="value" th:value="${rDTO.userName}"
        required></input>
      </div>



<!--      <div class="info-row">-->
<!--        <span class="label">Nickname:</span>-->
<!--        <span class="value" th:text="${rDTO.nickname}"></span>-->
<!--      </div>-->
      <div class="info-row">
        <label for="nickname" class="label">Nickname:</label>
        <input name="nickname" id="nickname" class="value" th:value="${rDTO.nickname}"
        required></input>
      </div>

<!--      <div class="info-row">-->
<!--        <span class="label">Email:</span>-->
<!--        <span class="value" th:text="${rDTO.email}"></span>-->
<!--      </div>-->
      <div class="info-row">
        <label for="email" class="label">Email:</label>
        <input type="email" name="email" id="email" class="value" th:value="${rDTO.email}"
        required></input>
      </div>

<!--      <div class="info-row">-->
<!--        <span class="label">Address1:</span>-->
<!--        <span class="value" th:text="${rDTO.addr1}"></span>-->
<!--      </div>-->
      <div class="info-row">
        <label for="addr1" class="label">Address1:</label>
        <input type="text" name="addr1" id="addr1" class="value" th:value="${rDTO.userName}"
        required></input>
      </div>

<!--      <div class="info-row">-->
<!--        <span class="label">Address2:</span>-->
<!--        <span class="value" th:text="${rDTO.addr2}"></span>-->
<!--      </div>-->
      <div class="info-row">
        <label for="addr2" class="label">Address2:</label>
        <input type="text" name="addr2" id="addr2" class="value" th:value="${rDTO.userName}"
               required></input>
      </div>

      <div class="info-row">
        <span class="label">사용자구분:</span>
        <span class="value" th:text="${rDTO.userType}"></span>
      </div>

      <br/>
      <br/>
      <hr/>
<!--      <div class="info-row">-->
<!--        <span class="label">요식업종:</span>-->
<!--        <span class="value" th:text="${rDTO.job}"></span>-->
<!--      </div>-->
      <div class="info-row">
        <label for="job" class="label">요식업종:</label>
        <select name="job" id="job"
                class="value"
                th:value="${rDTO.job}"
               required>
          <option value="일식">일식</option>
          <option value="양식">양식</option>
          <option value="한식">한식</option>
        </select>
      </div>


<!--      <br/>-->
<!--      <br/>-->
<!--      <hr/>-->
<!--      <h4>이 아래로 화면 표시용 html</h4>-->

<!--      <div class="info-row">-->
<!--        <span class="label">아이디:</span>-->
<!--        <span class="value">hong123</span>-->
<!--      </div>-->
<!--      <div class="info-row">-->
<!--        <span class="label">이메일:</span>-->
<!--        <span class="value">hong@example.com</span>-->
<!--      </div>-->
<!--      <div class="info-row">-->
<!--        <span class="label">가입일:</span>-->
<!--        <span class="value">2023-10-30</span>-->
<!--      </div>-->
      <!-- 원하는 다른 회원 정보 항목 추가 -->
    </div>
    <button type="submit" id="submit-button" onclick="submitUpdateForm(this)">회원 정보 수정</button>
  </form>
</div>
<script>

</script>
</body>
</html>
