<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--JAVA와 연결할 Mapper 파일 설정-->
<mapper namespace="kopo.poly.community.persistance.mapper.ICommentMapper">
    <select id="getCommentList" resultType="CommentDTO" parameterType="CommentDTO">
        SELECT C.RNO, C.WRITER, C.CONTENTS, DATE_FORMAT(C.WDATE, '%Y-%m-%d') AS WDATE, C.COMMUNITY_SEQ
        FROM COMMENT C
        WHERE C.COMMUNITY_SEQ = #{communitySeq}
        ORDER BY C.WDATE DESC
    </select>

    <!--댓글 등록 쿼리문-->
    <insert id="insertCommentInfo" parameterType="CommentDTO">
        INSERT INTO COMMENT
        (
            COMMUNITY_SEQ,
            WRITER,
            CONTENTS,
            WDATE
        )
        VALUES (
                   #{communitySeq},
                   #{writer},
                   #{contents},
                   #{wdate}
               )
    </insert>

    <!-- 댓글 삭제 쿼리 -->
    <!-- 게시글이 삭제되면 FK로 참조한 댓글도 같이 삭제되게 구현해야함 아직 구현 x-->
    <delete id="deleteCommentInfo" parameterType="CommentDTO">
        DELETE FROM COMMENT
        WHERE RNO = #{rno}
    </delete>

    <!-- 댓글 수정 쿼리 -->
    <update id="updateCommentInfo" parameterType="CommentDTO">
        UPDATE COMMENT
        SET
            WRITER = #{writer},
            CONTENTS = #{contents},
            WDATE = #{wdate}
        WHERE RNO = #{rno}
    </update>

</mapper>