<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kopo.poly.order.persistance.mapper.IImageMapper">
    <insert id="insertImageUrlCheckY" parameterType="OcrDTO">
        INSERT INTO ORDERED
        (
            SEQ,
            URL,
            USER_ID,
            OCR_DATE,
            PRODUCT_NAME,
            PRICE,
            UNIT,
            COUNT
        )
        VALUES (
                   (SELECT COALESCE(MAX(O.SEQ), 0) + 1 FROM ORDERED AS O WHERE O.USER_ID = #{userId} AND O.OCR_DATE = #{ocrDate}),
                   #{url},
                   #{userId},
                   #{ocrDate},
                   #{productName},
                   #{price},
                   #{unit},
                   #{count}
               )
    </insert>
    <insert id="insertImageUrlCheckN" parameterType="OcrDTO">
        INSERT INTO ORDERED
        (
            SEQ,
            URL,
            USER_ID,
            OCR_DATE,
            PRODUCT_NAME,
            PRICE,
            UNIT,
            COUNT
        )
        VALUES (
                   (SELECT COALESCE(MAX(O.SEQ), 0) + 1 FROM ORDERED AS O WHERE O.USER_ID = #{userId} AND O.OCR_DATE = #{ocrDate}),
                   '/image/notCheckingSave.png',
                   #{userId},
                   #{ocrDate},
                   #{productName},
                   #{price},
                   #{unit},
                   #{count}
               )
    </insert>
</mapper>