<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <link href="/css/bootstrap-icons.css" rel="stylesheet">
  <script type="text/javascript">
    $(document).ready(function (){
      let f = document.getElementById("f");

      $("#btnUpload").on("click", function (){

        imageSubmit(f);
      })
    })

    function imageSubmit(f){
      let fileInput = f.image;
      if(fileInput.files.length === 0){
        alert("이미지를 선택하세요.");
        fileInput.click();
        return;
      }else {
        $("#body").load("/load/Loading");

        let formData = new FormData($("#f")[0]);
        $.ajax({
          url: "/uploadAndOcr",
          type: "post",
          // dataType:"JSON",
          data: formData,
          processData: false,
          contentType: false,
          success: function (json) {
            if (json.result === 1) {
              alert(json.msg);
              location.href = "ocr-result";
            } else {
              alert(json.msg);
            }
          }

        })
      }
    }
  </script>
</head>
<body id="body">
<h1>Image Upload and OCR</h1>
<form id="f" method="post" enctype="multipart/form-data">
  <input type="file" id="image" name="image" accept=".jpg, .jpeg, .png">
  <input type="checkbox" name="save" id="save" value="Y">
  <label for="save">이미지 저장하기</label>
  <button id="btnUpload" type="button">Upload and OCR</button>
</form>
</body>
</html>
<!--action="/uploadAndOcr"-->